<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.coderunner.chordmaster">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.PracticeActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.coderunner.chordmaster.ui.WelcomeActivity" />
        </activity>
        <activity android:name=".ui.ChordsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.coderunner.chordmaster.ui.WelcomeActivity" />
        </activity>
        <activity android:name=".ui.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.coderunner.chordmaster.ui.PracticeActivity" />
        </activity>

        <provider
            android:name="io.coderunner.chordmaster.provider.ChordsProvider"
            android:authorities="@string/content_authority_chords"
            android:exported="false" />
    </application>

</manifest>